.navbar_container{
    background-image: url("https://previews.123rf.com/images/baibakova/baibakova2001/baibakova200100096/138437969-fresh-fish-and-seafood-on-black-background-top-view.jpg");
    opacity: 1.5;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar_container .logo{
    width: 35px;
}




.navbar_container nav{
    background-color: rgba(0, 0, 0, 0.5);
    /* top: 0;
    width: 100%;
    position: fixed;
    z-index: 100; */
 
    
}
